
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cardContainer{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
   padding: 20px;
    border-radius: 20px;
    border: 2px solid #EDF5FE;
    width: 50vw;

  }
  .priority {
    color: #707070;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }
  .priority span{
      
      font-size: 19px;
    font-weight: 500;
    padding: 5px;
    padding-bottom: 6px;
  }
  .priority_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .checklistHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .checklistHeadingContainer p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
    overflow: auto;
    max-height: 55vh;
  }
  .collapseButton {
    border-style: none;
    background-color: white;
  }
  .taskTitle {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  .taskCollapseButton {
    border-radius: 3px;
    background: #eeecec;
    height: 24px;
    margin: 0;
  }
  .footer {
    display: flex;
  
    justify-content: flex-start;
    align-items: center;
  }
  .footer p{
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
margin-right: 10px;

  }
  .footer button {
    color: #5a5a5a;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    background: #eeecec;
    border-style: none;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    padding: 5px;
    padding-inline: 10px;
    margin: 2px;
  }
  
  .footerInside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  

  .logo_image{
    width:24px;
    height: 24px;
    padding: 5px;

}

.logo_heading{
    font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: black;
padding: 0;
margin: 0;

}

.logoContainer{
  width:100vw;
}
.tab_container{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  
 
  cursor: pointer;
  
  
}


@media screen and (max-width: 600px) {
  
  .cardContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    
  }
  .container {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: white;
   padding: 20px;
  flex: 2;
  
    border-radius: 20px;
    border: 2px solid #EDF5FE;
    
    transition: 2s;
    margin-inline: 30px;

  }
}

