.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p{
    font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
margin-block: 10px;

}
.sub_container{
    display: flex;
    align-items: center;
    
}
.sub_container p{
    font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.sub_container span{
    color: #90C4CC;
    margin: 10px;
    font-size: 25px;
font-weight: 400;

}
