.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  flex: 2;
}
.priority {
  color: #707070;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
.priority span{
    
    font-size: 19px;
  font-weight: 500;
  padding: 5px;
  padding-bottom: 6px;
}
.priority_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}
.checklistHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}
.checklistHeadingContainer p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}
.collapseButton {
  border-style: none;
  background-color: white;
}
.taskTitle {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.taskCollapseButton {
  border-radius: 3px;
  background: #eeecec;
  height: 24px;
  margin: 0;
}
.footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.footer button {
  color: #5a5a5a;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  background: #eeecec;
  border-style: none;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  padding: 5px;
  padding-inline: 10px;
  margin: 2px;
}

.footerInside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.duration_value{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 20px;
    
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    padding-block: 10px;
    padding-inline: 5px;
}
.duration_value button{
    margin: 0;
    padding-inline: 20px;
    font-family: Poppins;
    padding-block: 5px;
    border-style: none;
    background-color: white;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
}

.duration_value button:hover{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.editPopup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}