.container{
    display: flex;
    flex-direction: column;
    width:80vw;
    height: 100vh;
}
.heading_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome_message{
    font-family: Poppins;
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
text-align: left;


}
.curr_date{
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #707070;

}
.board_heading{
    font-family: Poppins;
    font-size: 29px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    
}

.cards_container{
    display:flex;
    flex: 2;
    flex-wrap: wrap;
}