
.container{
    height: 100vh;
    width: 60vw;
}

.welcome_screen_container {
    height: 50vh;
    width: 100vw;
    display: flex;
  }
  
  .welcome_logo_container {
    width: 60vw;
    height: 100vh;
    background: #17a2b8;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .image {
    height: 30vh;
  }
  
  .main_heading {
    color: white;
    font-family: Open Sans;
    font-size: 33px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
  }
  
  .sub_heading {
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
  }
  

  @media screen and (max-width: 600px){
    
    
.container{
  height: 100vh;
  width: 100vw;
}
    .welcome_logo_container{
      height: 100vh;
      width: 100vw;
    }
    .welcome_screen_container {
      height: 100vh;
      width: 100vw;
      justify-content: center;
      align-items: center;
    }

}