.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  background: #eef2f5;
  height: 80vh;
 

  
  
  
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task_container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    
    
    
    
    
}
.overflow_container{
  overflow: auto;
}

.title h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px;
}
.title img {
  width: 18px;
  height: 18px;
  margin: 20px;
}
