.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  background: #eef2f5;
  flex:2;
 
  /* height: 70vh; */
  min-width:360px;
  

  
  
  
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task_container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    
    
    
    
}
.overflow_container{
  overflow: auto;
  margin: 20px;
  border-radius: 20px;
}

.title h1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 20px;
}
.title img {
  width: 18px;
  height: 18px;
  
}

.globalCollapse{
  border-style: none;
  background: #EEF2F5;
  margin: 0;
  padding: 0;
  margin: 20px;

}

.buttonContainer{
  display: flex;
  align-items: center;
}

.addButton{
  border-style: none;
  background: #EEF2F5;
  margin: 0;
  padding: 0;
  color: grey;
  
}