.container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-family: Open Sans;
    font-size: 33px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin:0;
    margin-bottom: 6vh;
  }
  
  .sub_heading {
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
  }
  
  .login_button {
    width: 35vw;
    height: 50px;
    max-width: 493px;
  
    border-radius: 55.13px;
    border: 1.38px;
    gap: 11.03px;
    background: white;
    border: 1.38px solid #17a2b8;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #17a2b8;
  }
  
  #submit_button {
    width: 35vw;
    height: 50px;
    max-width: 493px;
    border-radius: 55.13px;
    border-style: none;
    gap: 11.03px;
    background: #17a2b8;
    width: Hug (54px);
    height: Fixed (55.13px);
    padding: 15.16px, 0px, 15.16px, 0px;
    gap: 11.03px;
    
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 3vh;
  }
  
  .form_input {
    margin: 10px;
  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35vw;
    max-width: 493px;
    max-height: 55px;
    padding: 11.03px, 387.87px, 10.9px, 11.03px;
    border-radius: 11.03px;
    border: 1.38px;
    border: 1.38px solid #d0d0d0;
  }
  .form_input input {
    border-style: none;
    min-width: 20px;
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
    flex: 2;
  }
  
  .form_input input textarea:focus,
  input:focus {
    outline: none;
  }
  
  .icon {
    padding: 5px;
    width: 33px;
  }
  


  .password_input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media screen and (max-width: 600px){
    
    
  .container{
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

  .form_input {
    width:70vw;
  }

}