@import url("https://fonts.googleapis.com/css?family=DM Sans");
@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Inter');
body{
    margin: 0%;
    padding: 0%;
}
button{
    cursor: pointer;
}