.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block: 3px;
  width: (264px);
  height: (42px);
  padding: 12px;
  border-radius: 12px;
  border: 1px;
  gap: 10px;
  border: 1px solid #e2e2e2;
}

.checkbox {
  accent-color: #17a2b8;
  border: 2px solid #e2e2e2;
  width: 18px;
  height: 18px;
  border-radius: 8px;
}

/* .checkbox:checked ~ .checkmark {
   
    

  } */

.textarea {
  flex: 2;
  border-style: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  border-style: none;
}

.textarea input textarea:focus,
input:focus {
  outline: none;
}
